# App
PORT=3000
NODE_ENV=development

# Db
DB_PORT=1433
DB_USERNAME=sa
DB_PASSWORD=Aivacol123456!
DB_DATABASE=aivacol_frota
DATABASE_HOST=sqlserver


# JWT
JWT_SECRET=4f7a2d8e1c6b3f9a5e8d7c2b0a1f4e3d6c7b8a9f0e1d2c3b4a5f6e7d8c9b0a1f
JWT_EXPIRES_IN=1h

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
CACHE_TTL_SECONDS=300

# Seed
SEED_USER_USERNAME=aivacol
SEED_USER_PASSWORD=aivacol123

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

# MongoDB
MONGO_URL=mongodb://mongo:27017


